/*  Import Ubuntu font */
/* @import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

:root {
  font-family: 'Ubuntu', sans-serif;
} */
/*  
@media (prefers-color-scheme: dark) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

select {
  /* for Firefox */
  -moz-appearance: none;
  /* for Safari, Chrome, Opera */
  -webkit-appearance: none;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.bg-primary {
  background-color: #1B49FF;
}
.text-primary {
  color: #1B49FF;
}
.text-sub-webapp {
  color: #4E527B;
}
.bg-webapp {
  background: #0A1045;
}
.text-webapp {
  color: #0A1045;
}
.ubuntu {
  font-family: 'Ubuntu', sans-serif;
}